
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 id="logo"><img src="./assets/img/logo.png" alt=""></h1>
          <h3 class="title01">  <span class="name"> </span><br>
            <!-- Cho chúng tôi biết cảm nhận của bạn về tiNiWorld -->
             {{ survey_question }}
          </h3>

          <div class="feedback-list">

  
            <p ng-repeat="record in records" class="face-icon"  ng-class="{'active': $index == focusIndex }">
              <img src="./assets/img/icon{{ record.navIndex }}.png" alt="">
              
 <!--              <span class="stars">
                <img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt="">
              </span> -->

              <span class="note">  {{ record.name_vn }} </span>
            </p>
   
          </div>


        </div>
      </div>
    </div>
  </section>
