
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 id="logo"><img src="./assets/img/logo.png" alt=""></h1>
          <h3 class="title02">Xin chào: <span class="name">NGUYỄN VĂN A</span><br>Cho chúng tôi biết cảm nhận của bạn về tiNiWorld</h3>

          <div class="feedback-list">

  
            <p ng-repeat="record in records" class="face-icon"  ng-class="{'active': $index == focusIndex }">
              <img src="./assets/img/icon{{ record.navIndex }}.png" alt="">
              
 <!--              <span class="stars">
                <img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt="">
              </span> -->

              <span class="note">  {{ record.name_vn }} </span>
            </p>
   

<!--             <p class="face-icon">
              <img src="./assets/img/icon2.png" alt="">
              <span class="stars"><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""></span>
              <span class="note">Tốt</span>
            </p>
            <p class="face-icon">
              <img src="./assets/img/icon3.png" alt="">
              <span class="stars"><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""></span>
              <span class="note">Bình thường</span>
            </p>
            <p class="face-icon">
              <img src="./assets/img/icon4.png" alt="">
              <span class="stars"><img src="./assets/img/icon-star.png" alt=""><img src="./assets/img/icon-star.png" alt=""></span>
              <span class="note">Chán</span>
            </p>
            <p class="face-icon">
              <img src="./assets/img/icon5.png" alt="">
              <span class="stars"><img src="./assets/img/icon-star.png" alt=""></span>
              <span class="note">Không hài lòng</span>
            </p> -->


          </div>


        </div>
      </div>
    </div>
  </section>
