  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 id="logo"><img src="./assets/img/logo.png" alt=""></h1>
          <h3 class="title01">Xin chào bạn!</h3>
          <p class="text01">Để đánh giá chất lượng tiNiWorld.<br>Vui lòng quẹt thẻ ở màn hình bên dưới:</p>
          <p class="arrow"><img src="./assets/img/arrow.png" alt=""></p>
          <p class="card"><img src="./assets/img/card.png" alt=""></p>
        </div>
      </div>
    </div>
  </section>
